body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 90%;
}

.jumbotron {
    background-color: #ff6633;
    color: #ffffff;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
    text-align: center;
}

.section {
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
}

.section:hover {
    background-color: #f0f0f0;
    transition: color 0.3s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}

button, input[type="submit"] {
    background-color: #ffeecc;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 20px;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

input[type="text"], input[type="number"] {
    line-height: 1.6;
    width: 30%;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #f0f0f0;
    transition: color 0.3s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    background-color: #ffffff;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 12px;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(179, 208, 255, 0.3);
}

.edit_row, .delete_row {
    display: inline-block;
}

.td_edit_delete {
    width: 170px;
}

.edit-form {
    text-align: right;
}

.edit-name {
    margin-right: 2rem;
}

.edit-confirm {
    margin-right: 1rem;
    margin-left: 10rem;
}
